.ayurvedaRetreat{
    width: 100%;
    height: 100%;
}

.questionsDiv{
    margin-top: 5.523vh;
}

.principlesDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.principlesTitle>span{
    font-family: 'Raleway Semibold';
}

.principlesContent>ul{
    padding-inline-start: 17px;
}

.principlesContent>ul>li{
    text-align: left;
}