.modalComponent{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
}

.modal{
    width: 71.094vw;
    min-height: 60.992vh;
    background: #FFFFFF;
    display: flex;
}

.modalImageDiv{
    width: 34.453vw;
}