button {
    appearance: none;
    border: none;
    box-shadow: none;
    outline: none;

    transition: background-color 0.3s  ease, color 0.3s ease;
}

.button-common {
    color: #ffffff;
    background-color: var(--p1);
    cursor: pointer;
}

.button-small {
    width: 8vw;
    padding: 2vmin 0;
    font-size: 1.5vmin;
}

.button-medium {
    padding: 1.5vmin 0;
    width: 10vw;
    font-size: 2vmin;
}

.button-large {
    width: 14vw;
    font-size: 2.5vmin;
}

button:hover {
    background-color: #ffffff;
    color: var(--p1);
    border: 2px solid var(--p1);
    box-sizing: border-box;
}