.contact-form-section {
    width: 100%;
    height: 90vh;
    display: flex;
}

.image-form-combo {
    display: flex;
    width: 100%;
}

.contact-left-image {
    flex-basis: 35%;
    overflow: hidden;
}

.contact-left-image img {
    height: 90vh;
    margin-left: -25%;
}

.contact-right-form {
    flex: 1;
    padding: 5vw 5vw;
}

.contact-right-form h3 {
    /* font-size: var(--h3Size); */
    font-size: 3.5vw;
    font-weight: 400;
    color: var(--greenColor);
}

.contact-form {
    padding-top: 3vw;
}

.contact-form {
    width: 100%;
    padding-top: 3vw;
}

.form-grid {
    padding: 1vw 0;
    display: grid;
    gap: 5vw;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
}

.animated-input {
    position: relative;
    margin-bottom: 0.3vw;
}

.label {
    padding-bottom: 2.5vw;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: all 0.3s ease;

    color: var(--greenColor);
    font-family: var(--secondaryFont);
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
}

.input-group input,
.input-group textarea {
    border: none;
    border-bottom: 2px solid var(--greenColor);
    width: 100%;
    transition: border-bottom-color 0.3s ease;
    background: none;
    outline: none;


    font-family: var(--secondaryFont);
    font-size: 1.15vw;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.placeholder {}

.input-group textarea {
    resize: none;
}

.input-group.focused input,
.input-group.focused textarea {
    border-bottom-color: var(--greenColor);
}

.label.active {
    top: 0;
    font-size: 1.4vw;
    font-weight: 600;
}

.submit-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vw;
}

.submit-button-wrapper p {
    padding-top: 1vw;
}


/* CONTACT DETAILS AND SOCIAL MEDIA SECTION */
.contact-and-social-media-section {
    padding: 5vw 15vw 5vw 5vw;
    background-color: var(--p5);
}

.contact-social-media-combo {
    display: flex;
    justify-content: space-between;
}

.contact-details-container {}

.contact-detail {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.contact-detail p {
    font-weight: 500;
}

.contact-detail:not(:last-child) {
    margin-bottom: 2vw;
}

.contact-detail img {
    max-width: 100%;
    height: auto;
}

.social-media-container {}

.social-media-container p {
    font-size: 2vw;
}

.social-media-icons {
    padding-top: 2vw;
    display: flex;
    gap: 2vw;
}

.social-media-icons img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.social-media-icons img:hover {
    transform: scale(1.1);
}

/* CONTACT SELECTION SECTION */
.contact-selection-section {
    background-color: var(--p2);
    padding: 3vw 0;
    position: relative;
    z-index: 2;
}

.contact-selection-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/our-services-background-svg.svg');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.contact-selection-section h5,
.contact-selection-section h3,
.contact-selection-section p {
    text-align: center;
    color: black;
    font-family: var(--secondaryFont);
}

.contact-selection-section h5 {
    font-size: 1.5vw;
    font-weight: 300;
}

.contact-selection-section h3 {
    font-size: 2vw;
    font-weight: 400;

    padding-top: 1.5vw;
}

.contact-selection-section p {
    padding-top: 3vw;
}

.phone-or-email-container {
    display: flex;
    gap: 3vw;
    justify-content: center;
    padding-top: 2vw;
}

.phone-or-email-select {
    flex-basis: 25%;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.phone-or-email-select img {
    width: 3vw;
    max-width: 100%;
    height: auto;
}

.phone-or-email-select.selected {
    border: 2px solid var(--greenColor);
}

.select-text {
    font-size: var(--parSize);
    font-family: var(--secondaryFont);

    padding-top: 1vw;
}

/* SELECTED CONTACT FORM SECTION */

.selected-contact-form-section {
    background-color: var(--p2);
    padding: 0 10vw 3vw 10vw;
    position: relative;
    
    transition: display 0.3s ease-in-out;
    display: none;
}

.selected-contact-form-section.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/our-services-background-svg.svg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.selected-contact-form-section.show {
    display: block;
    position: relative;
}

.selected-contact-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 3vw;
}

.label-input-combo {
    display: flex;
    flex-direction: column;
}

.label-input-combo>label {
    margin-bottom: .7em;
    font-family: var(--secondaryFont);
}

.label-input-combo>input {
    padding: 1vw 2vw;

    font-size: 1.1vw;
    font-weight: 400;
    font-family: var(--secondaryFont);
}

.selected-contact-form-submit-button {
    font-family: var(--secondaryFont);
    font-weight: 500;
    background-color: white;
    padding: 1.1vw 2.5vw 0.8vw 2.5vw;
    cursor: pointer;
}