.hero-section {
    height: 90vh;
    width: 100%;
    display: flex;
    background-color: var(--p5);
    /* overflow: hidden; */
    /* border: 1px solid #021763; */
}

.hero-left {
    display: flex;
    width: 100%;
    /* border: 1px solid #02a6d3; */
}

.hero-right {
    background-color: var(--p2);
    flex: 0 0 30%;

    /* border: 2px solid #9a56d3; */
}

.welcome-text-image-combo {
    display: flex;
    align-items: center;
    z-index: 2;

    /* border: 2px solid #707a5a; */
}

.welcome-texts-dots-combo {
    display: flex;
    flex-direction: column;

    /* border: 2px solid yellow; */
}

.welcome-texts-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;

    /* border: 2px solid #707a5a; */
}

.welcome-text {
    flex: 0 0 100%;
    padding: 0 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: transform 0.5s ease;

    /* border: 2px solid #277daa; */
}

.welcome-text.active-left {
    transform: translateX(0%);
}

.welcome-text.inactive-left {
    transform: translateX(-100%);
}

.welcome-text.active-right {
    transform: translateX(-100%);
}

.welcome-text.inactive-right {
    transform: translateX(0%);
}


.welcome-text h3 {
    font-size: var(--h3Size);
    font-weight: 500;
    text-align: center;
}

.welcome-text p {
    padding-top: 1vw;
    letter-spacing: 0.1vw;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: var(--p1);
}

.hero-image {
    scale: 1.3;
    /* display: none; */
    border: 3px solid transparent;
    border-image: linear-gradient(to left, red 50%, blue 50%) 1;
}



.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}



/* Tourism & Wellness Center */

.text-section {
    background-color: #FFFFFF;
    padding: 5vw 0;
    text-align: center;
}

.text-section h2 {
    font-size: var(--headingSize);
    font-weight: 400;
}

.text-section p {
    font-size: var(--parSize);
    padding: 1vw 12vw;
    line-height: 1.8;
}

/* OUR SERVICES SECTION */
.our-services-section {
    width: 100%;
    height: auto;
    padding: 4vw 8vw;
    background-color: var(--p5);
    overflow: hidden;
}

.our-services-section h2 {

    font-size: var(--headingSize);
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 1;
}

.our-services-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 5% 0;
    transition: transform 0.3s ease;
}

.service-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.service-card img {
    max-width: 100%;
    height: auto;
}

.service-card h5 {
    font-size: var(--parSize);
    text-align: center;
}

.prevButton,
.nextButton {
    width: 2vmax;
    height: 3.5vmax;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.prev-next-buttons {
    width: 50%;
    height: 50%;
}

.centered-button {
    text-align: center;
}


/* .works-mission-sections-combo {
    position: relative;
}

.works-mission-sections-combo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/our-services-background-svg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    opacity: 0.25;
    z-index: 2;
} */

/* How It Works */

.how-it-works-section {
    padding: 4vw 8vw;
}

.how-it-works-section h2 {
    font-size: var(--headingSize);
    font-weight: 400;
    text-align: center;
}

.how-it-works {
    padding-top: 4vw;
}

.upper-text-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw 0.5vw 7vw;
}

.upper-text-container p {
    width: 25%;
}

.work-flow-image {
    width: 100%;
}

.work-flow-image img {
    max-width: 100%;
    height: auto;
}

.lower-text-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 15vw 0 0vw;
}

.lower-text-container p {
    width: 25%;
}

.upper-text-container p,
.lower-text-container p {
    font-size: var(--parSize);
    text-align: center;
    letter-spacing: 0.05vw;
}

/* MISSION VISION SECTION */

.mission-vision-section {
    padding: 4vw 15vw;
    background-color: var(--p2);
}

.mission-vision-cards {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
}

.mission-card,
.vision-card {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    padding: 20% 15% 10% 15%;
    border-radius: 50vw 50vw 0 0;
    z-index: 3;
}

.mission-card {
    background-image: url('../../assets/our-mission-icon.png');
}

.vision-card {
    background-image: url('../../assets/our-vision-icon.png');
}

.mission-vision-text p {
    font-size: var(--parSize);
    line-height: 1.4;
    padding: 10% 0;
    height: 22vh;

}

.down-apostrophes {
    display: flex;
    justify-content: flex-start;
}

.up-apostrophes {
    display: flex;
    justify-content: flex-end;
}

.down-apostrophes img,
.up-apostrophes img {
    max-width: 100%;
    height: auto;
}

.mission-vision-heading h4 {
    font-size: var(--h4Size);
    text-align: center;
    padding-top: 10%;
}

/* WHY US SECTION */

.why-us-section {
    padding: 5vw 0;
    text-align: center;
}

.why-us-section h2 {
    font-size: var(--headingSize);
    font-weight: 400;
}

.why-us-section p {
    font-size: var(--parSize);
    padding: 1vw 12vw;
    line-height: 1.8;
}

.why-us-cards {
    display: flex;
    justify-content: center;
    width: 100%;

    /* border: 2px solid yellow; */
}

.why-us-card {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid yellowgreen; */
}

.why-us-card img {
    size: 10vw;

}

.why-us-card p {
    font-size: 1vw;
}