.hero-section {
    background-color: var(--p3);
    display: flex;
    height: 90vh;
    width: 100%;
}

.hero-left-bg {
    background-color: var(--p2);
    flex: 0 0 30%;
}

.image-welcome-text-combo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image-container {}

.hero-image-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.welcome-text {
    padding: 0 5vw;
}

.welcome-text h3 {
    font-size: var(--h3Size);
    font-weight: 400;
    text-align: center;
}

.welcome-text p {
    padding-top: 2%;
    line-height: 1.75;
    text-align: left;
}

/* HERO SECTION 2 */
.hero-section2 {
    background-color: var(--p3);
    width: 100%;
    overflow: hidden;
    /* Ensure overflow is hidden */
}

.hero-left2 {
    background-color: var(--color1);
    /* Adjust as needed */
    height: 100%;
    /* Take full height */
    position: relative;
    /* Set position relative for absolute children */
}

.hero-right2 {
    background-color: var(--color2);
    /* Adjust as needed */
}

.image-welcome-text-combo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    /* Ensure overflow is hidden */
}

.welcome-text-slider {
    width: 200vw;
    /* Twice the width to contain both slides */
    display: flex;
    transition: transform 0.5s ease;
    /* Smooth sliding transition */
}

.welcome-text-slide {
    width: 50%;
    /* Each slide takes half of the container width */
}

.hero-image-container2 {
    display: flex;
    justify-content: center;
}

.hero-image-container2 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}



/* Tourism & Wellness Center */

.text-section {
    background-color: #FFFFFF;
    padding: 5vw 0;
    text-align: center;
}

.text-section h2 {
    font-size: var(--headingSize);
    font-weight: 400;
}

.text-section p {
    font-size: var(--parSize);
    padding: 1vw 12vw;
    line-height: 1.8;
}

/* OUR SERVICES SECTION */
.our-services-section {
    position: relative;
    width: 100%;
    height: auto;
    /* Set the height as needed */
    padding: 4vw 8vw;
    background-color: var(--p3);
    overflow: hidden;
}

.our-services-section h2 {

    font-size: var(--headingSize);
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 1;
}

.our-services-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 5% 0;
    transition: transform 0.3s ease;
}

.service-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.service-card img {
    max-width: 100%;
    height: auto;
}

.service-card h5 {
    font-size: var(--parSize);
    text-align: center;
}

.prevButton,
.nextButton {
    width: 2vmax;
    height: 3.5vmax;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.prev-next-buttons {
    width: 50%;
    height: 50%;
}

.centered-button {
    text-align: center;
}


/* .works-mission-sections-combo {
    position: relative;
}

.works-mission-sections-combo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/our-services-background-svg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    opacity: 0.25;
    z-index: 2;
} */

/* How It Works */

.how-it-works-section {
    padding: 4vw 8vw;
}

.how-it-works-section h2 {
    font-size: var(--headingSize);
    font-weight: 400;
    text-align: center;
}

.how-it-works {
    padding-top: 4vw;
}

.upper-text-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw 0.5vw 7vw;
}

.upper-text-container p {
    width: 25%;
}

.work-flow-image {
    width: 100%;
}

.work-flow-image img {
    max-width: 100%;
    height: auto;
}

.lower-text-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 15vw 0 0vw;
}

.lower-text-container p {
    width: 25%;
}

.upper-text-container p,
.lower-text-container p {
    font-size: var(--parSize);
    text-align: center;
    letter-spacing: 0.05vw;
}

/* MISSION VISION SECTION */

.mission-vision-section {
    padding: 4vw 15vw;
    background-color: var(--p2);
}

.mission-vision-cards {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
}

.mission-card,
.vision-card {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    padding: 20% 15% 10% 15%;
    border-radius: 50vw 50vw 0 0;
    z-index: 3;
}

.mission-card {
    background-image: url('../../assets/our-mission-icon.png');
}

.vision-card {
    background-image: url('../../assets/our-vision-icon.png');
}

.mission-vision-text p {
    font-size: var(--parSize);
    line-height: 1.4;
    padding: 10% 0;
    height: 22vh;

}

.down-apostrophes {
    display: flex;
    justify-content: flex-start;
}

.up-apostrophes {
    display: flex;
    justify-content: flex-end;
}

.down-apostrophes img,
.up-apostrophes img {
    max-width: 100%;
    height: auto;
}

.mission-vision-heading h4 {
    font-size: var(--h4Size);
    text-align: center;
    padding-top: 10%;
}

/* WHY US SECTION */

.why-us-section {
    padding: 5vw 0;
    text-align: center;
}

.why-us-section h2 {
    font-size: var(--headingSize);
    font-weight: 400;
}

.why-us-section p {
    font-size: var(--parSize);
    padding: 1vw 12vw;
    line-height: 1.8;
}