footer {
    height: auto;
    padding: 4vw 0 1vw 0;
    background-color: var(--p4);
    /* background-image: linear-gradient(to top, var(--p4) 0%, var(--p5) 100%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-media-images {
    display: flex;
    gap: 1.5vw;
    justify-content: space-between;
}

.social-media-images img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.social-media-images img:hover {
    transform: scale(1.2);
}

.company-email {
    padding-top: 0.5vw;
    transition: font-weight 0.3s ease;
}

.company-email:hover {
    font-weight: 600;
}

.important-links {
    padding-top: 5vw;
    display: flex;
}

.important-links p {
    color: black;
}

.important-links a:not(:last-child) {
    border-right: 1px solid #ffffff;
    padding-right: 10px;
}

.important-links a:not(:first-child) {
    padding-left: 10px;
}

.footer-logo {
    padding-top: 5vw;
}
.footer-logo img {
    max-width: 100%;
    height: auto;
}

.copyrights {
    padding-top: 3vw;
    font-size: 0.8vw;
}